@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sirin Stencil", sans-serif;
}

:root {
    --cor-um-texto: #F2EDD0;
    --cor-dois-texto: #80E7F2;
    --cor-um-fundo: #65655D;
    --cor-dois-fundo: #026873;
    --cor-reserva: #9FCE68;
}

body{
    background-color: var(--cor-um-fundo);
}

/* NAVBAR */
.navbar {
    background-color: rgba(0, 0, 0, 0.378);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    font-weight: 900;
    font-size: 1.3rem;
    padding: 20px;
    top:0;
    z-index: 10;
}

.menu, .entrar{
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu a, .entrar a{
    text-decoration: none;
    
}

.menu a :hover {
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.entrar a p:hover{
    background-color: var(--cor-reserva);
    cursor: pointer;
    transform: scale(1.05) rotate(3deg) skew(-8deg);
}

.navbar p, .entrar p{
    color: var(--cor-um-texto);
}

.entrar a p{
    background-color: var(--cor-dois-texto);
    padding: 8px 16px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    transform: rotate(-3deg) skew(0deg);
}

.page{
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.banner p {
    position: absolute;
    top: 30%; 
    left: 66%;
    text-align: start;
    color: var(--cor-um-texto);
    font-size: 1.5rem;
    background-color: var(--cor-dois-fundo);
    border-radius: 10px;
}

.secao_explicacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 150px 0;
}

.banguela1 {
    position: absolute;
    width: 250px;
    transform: translateY(-130px) translateX(-30px);
}

.img_dragao_esquerda{
    width: 650px;
    border-radius: 12px;
    border: 4px solid var(--cor-reserva);
}

.texto_direita{
    max-width: 500px;
    font-size: 1.45rem;
    color: var(--cor-um-texto);
    line-height: 1.4;
}


.titulo_secao{
    text-align: center;
    font-size: 2.2rem;
    color: var(--cor-um-texto);
    margin-bottom: 40px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}


.card{
    background-color: var(--cor-dois-fundo);
    width: 450px;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    border: 3px solid var(--cor-reserva);
    margin-bottom: 30px;
    transition: 0.3s ease;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.card:hover{
    transform: scale(1.05);
    background-color: var(--cor-dois-texto);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}

.card img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h3{
    color: var(--cor-um-texto);
    font-size: 1.7rem;
}

.card p.mini{
    color: var(--cor-um-texto);
    font-size: 1.1rem;
    margin-top: 10px;
    line-height: 1.2;
}


.rodape{
    background-color: var(--cor-dois-fundo);
    padding: 40px;
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    color: var(--cor-um-texto);
}

.coluna{
    width: 250px;
    margin-bottom: 25px;
}

.rodape h3{
    margin-bottom: 10px;
    color: var(--cor-dois-texto);
}

.rodape a{
    text-decoration: none;
    color: var(--cor-um-texto);
}

.coluna a:hover{
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    color: var(--cor-reserva);
}



.social img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

