@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

*, body {
    margin: 0;
    padding: 0;
    font-family: "Sirin Stencil", sans-serif;
    font-style: normal;
}

:root {
    --cor-um-texto: #F2EDD0;
    --cor-dois-texto: #80E7F2;
    --cor-um-fundo: #65655D;
    --cor-dois-fundo: #026873;
    --cor-reserva: #9FCE68;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.378);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    flex-direction: row;

    font-weight: 900;
    font-size: 1.3rem;

    padding: 20px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    gap: 35px;
}

.menu a, .entrar a{
    text-decoration: none;
}

.menu p{
    color: var(--cor-um-texto);
    

}

.banner img{
    width: 100%;
}

.entrar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

    gap: 35px; 
}

.entrar p{
    color: var(--cor-um-texto);
}

a .page {
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}