@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sirin Stencil", sans-serif;
}

:root {
    --cor-um-texto: #F2EDD0;
    --cor-dois-texto: #80E7F2;
    --cor-um-fundo: #65655D;
    --cor-dois-fundo: #026873;
    --cor-reserva: #9FCE68;
}

body{
    background-color: var(--cor-um-fundo);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.378);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    font-weight: 900;
    font-size: 1.3rem;
    padding: 20px;
    top:0;
    z-index: 10;
}

.navbar img {
    width: 130px;
    height: 100px;
    justify-self: start;
}


.menu, .entrar{
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu a, .entrar a{
    text-decoration: none;
    
}

.menu a :hover {
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.entrar a p:hover{
    background-color: var(--cor-reserva);
    cursor: pointer;
    transform: scale(1.05) rotate(3deg) skew(-8deg);
}

.navbar p, .entrar p{
    color: var(--cor-um-texto);
}

.entrar a p{
    background-color: var(--cor-dois-texto);
    padding: 8px 16px;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    transition: 0.3s;
    transform: rotate(-3deg) skew(0deg);
}

.page{
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: var(--cor-dois-fundo);
    width: 90%;
    border-radius: 10px;
    justify-self: center;
    padding: 20px;
}

.container img {
    border: 7px solid var(--cor-reserva);
    border-radius: 10px;
    width:600px;
}

.container p {
    margin-top: 20px;
    color: var(--cor-um-texto);
    font-size: 1.3rem;
    
}

.explicacao_personagem{
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    margin: 150px 0;
}

.img_personagem{
    width: 600px;
    border-radius: 12px;
    border: 4px solid var(--cor-reserva);
}

.cd {
    width: 600px;
}

.cq {
    width: 550px;
}

.pp {
    width: 500px;
}

.a {
    width: 500px;
}

.texto_personagem{
    max-width: 500px;
    font-size: 1.45rem;
    color: var(--cor-um-texto);
    line-height: 1.4;
}


.texto_personagem h2{
    font-size: 2.2rem;
    color: var(--cor-um-texto);
}

.quiz {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.quiz h1 {
    font-size: 3rem;
    color: var(--cor-um-texto);
    font-weight: bold;
}

.quiz p{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--cor-um-texto);
}

.quiz img {
    width: 600px;
}

.quiz button {
    background-color: var(--cor-dois-fundo);
    color: var(--cor-dois-texto);
    border-radius: 7px;
    font-size: 1.4rem;
    padding: 10px;
    font-weight: 900;
    margin-top: 30px;
    transition: 0.3s;
    margin-bottom: 50px;
}

.quiz button:hover {
    background-color: var(--cor-dois-texto);
    color: var(--cor-dois-fundo);
    padding: 12px;
}

.rodape{
    background-color: var(--cor-dois-fundo);
    padding: 40px;
    margin-top: 50px;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
    color: var(--cor-um-texto);
    height: 300px;
}

.coluna{
    width: 250px;
    margin-bottom: 25px;
}

.rodape h3{
    margin-bottom: 10px;
    color: var(--cor-dois-texto);
}

.rodape a{
    text-decoration: none;
    color: var(--cor-um-texto);
}

.coluna a:hover{
    text-decoration: underline;
    text-decoration-color: var(--cor-reserva);
    color: var(--cor-reserva);
}

.rodape img {
    width: 230px;
    height: 200px;
    justify-self: start;
}

.social img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

