@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sirin Stencil", sans-serif;
}

:root {
    --cor-um-texto: #F2EDD0;
    --cor-dois-texto: #80E7F2;
    --cor-um-fundo: #65655D;
    --cor-dois-fundo: #026873;
    --cor-reserva: #9FCE68;
}

body{
    background-color: var(--cor-um-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

#quizContainer {
    background: var(--cor-dois-fundo);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: none;
    color: var(--cor-um-texto);
    text-align: center;
}

#btnIniciar {
    padding: 30px 60px;
    font-size: 2rem;
    margin-top: 200px;
    cursor: pointer;
    background: var(--cor-dois-fundo);
    color: var(--cor-dois-texto);
    border: none;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
}

#btnIniciar:hover {
    background: var(--cor-dois-texto);
    color: var(--cor-dois-fundo);

}

#pergunta {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--cor-um-texto);
}

/* Container de opções em duas colunas */
#opcoes {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    justify-content: center;
    gap: 10px; /* espaço entre opções */
}

/* Cada opção ocupa metade do contêiner (aproximadamente) */
#opcoes label {
    flex: 0 0 45%; /* 45% de largura, 2 colunas */
    text-align: center;
    cursor: pointer;
    color: var(--cor-dois-texto);
    margin-bottom: 10px;
}

#botoesNavegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

#botoesNavegacao button {
    background: var(--cor-dois-fundo);
    color: var(--cor-dois-texto);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#botoesNavegacao button:hover {
    background: var(--cor-dois-texto);
    color: var(--cor-dois-fundo);
}

#resultado {
    display: none;
    background: var(--cor-dois-fundo);
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    color: var(--cor-um-texto);
    margin-top: 20px;
}

#resultado img {
    margin-bottom: 15px;
    border-radius: 10px;
}

button {
    background: var(--cor-dois-fundo);
    color: var(--cor-dois-texto);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: var(--cor-dois-texto);
    color: var(--cor-dois-fundo);
}

/* Garantir que o botão de refazer quiz fique igual */
#resultado button {
    display: inline-block;
    margin-top: 20px;
}